<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project title</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.6.0.min.js" defer><\/script>')</script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <!-- header content -->
      </header>
      <div class="page-holder">
        <main class="main">
          <h1>Home page</h1>
          <img src="images/test.jpg" alt="" />
          <img src="images/test.png" alt="" />
          <img src="images/test.svg" alt="" />
          <i class="icon-chevron-left"></i>
          <i class="icon-chevron-up"></i>
          <i class="icon-chevron-right"></i>
          <i class="icon-chevron-down"></i>
        </main>
      </div>
      <footer class="footer">
        <!-- footer content -->
      </footer>
    </div>
  </body>
</html>
